__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb

# ignore partially applied patches and their backup
*.rej
*.orig

# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

#Ignore for the HGCAL TPG code
L1Trigger/L1THGCalUtilities/test/crab_*
L1Trigger/L1THGCalUtilities/test/*.root
